<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库初始化</title>
    <meta charset="UTF-8">
    <title>初始化和下载</title>
    <!--  start: core js/css -->
    <link rel="stylesheet" href="__STATIC__/bootstrap4/css/bootstrap.min.css">
    <script src="__STATIC__/jquery/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/bootstrap4/js/popper.min.js"></script>
    <script src="__STATIC__/bootstrap4/js/bootstrap.min.js"></script>
    <!--  end: core js/css -->
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>完成</h2>
        <h3>恭喜！数据库初始化好了，现在<a href="../../index/index/view">点击这里</a>去网站主页吧</h3>
    </div>


</div>

</body>

</html>